<footer class="footer" role="contentinfo">
	<ul class="footer">  
		<li><h4><a href="/about">About Avans Farm</a></h4></li>
		<li><h4><a href="/gallery">Our Gallery</a></h4></li>
		<li><h4><a href="/testimonials">Guest Comments</a></h4></li>
		<li><h4><a href="/attractions">Local Attractions</a></h4></li>
		<li><h4><a href="/policy">Avans Farm's Policies</a></h4></li>
		<li class="footer-spacing"><h4><a href="/map">Need directions?</a></h4></li>
		<li>
		  <a href="https://facebook.com/{{ site.facebook }}"><i class="fa fa-facebook fa-2x"></i></a>
			<a href="https://twitter.com/{{ site.pinterest }}"><i class="fa fa-pinterest fa-2x"></i></a>
			<a href="https://plus.google.com/{{ site.google }}"><i class="fa fa-google-plus fa-2x"></i></a>
			<a href="https://plus.google.com/{{ site.email }}"><i class="fa fa-envelope fa-2x"></i></i></a>
		</li>
		<li>For reservations or additional information, feel free to give us a call at <a href="tel:{{ site.phone }}">{{ site.phone }}</a> or <a href="mailto:{{ site.email }}">email us</a>.</li>
		
		<li><small><strong>Made with <i class="fa fa-heart" id="heart"></i> by Avans Farm</strong></small>
		<li><small>&copy;	2014 Avans Farm</small></li>
	</ul>	
</footer>
