<!doctype html>
<html lang="en">

<head>
	
	
	<meta name="title" content="{{ site.title }}">	
  <meta name="description" content="{{ site.description }}">
	<meta name="author" content="Travis Dailey" />
	<meta name="description" content="Front-end developer" />
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/assets/stylesheets/style.css">
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
	
	<!-- 
	{% if page.stylesheet %}
      <link rel="stylesheet" type="text/css" href="/assets/stylesheets/{{ page.stylesheet }}.css">
    {% endif %} 
  -->

</head>